<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>All the Pets!</h1>
	<ul>
		<% pet.forEach( (pet)=>{%>
			<li> <%=pet.name %> </li>
			<li> <%=pet.color %> </li>
			<li> <%=pet.type %> </li>
			<li> <%=pet.age %> </li>
		<%})%>
	</ul>

</body>
</html>